fastapi

alembic
# Dependências úteis
httpx
python-jose[cryptography]
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
email-validator
uvicorn
sqlalchemy
pydantic
python-jose
passlib[bcrypt]
email-validator
